/* CORPO DO COMPONENTE */
.left-side{
    display: flex;
    flex-direction: column;
    flex: 10;
    align-self: flex-end;
    height: 95%;
}

/* PARTE SUPERIOR */
.top-part{
    display: flex;
    background-color: #c22;
    border-style: solid;
    border-color: #500;
    border-top-left-radius: 10px;
    border-top-right-radius: 50%;
    border-width: 2px 2px 0 2px;
    box-shadow: 10px 10px 10px #222, 0 0 5px inset #300; 
    height: 15%;
    min-height: 15%;
    max-height: 15%;
}   

/* MOLDURA VERMELHA DA POKEDEX */
.frame{
    display: flex;
    border: solid 2px #700;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 10px #111; 
    height: 85%;
    max-height: 85%;
    min-height: 85%;
    padding: 10%;
    background-color: #f44;
    box-sizing: border-box;
}

/* PARTE BRANCA AO REDOR DA TELA */
.screen-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: solid 3px black;
    background-color: #fff;
}

/* TELA DA POKEDEX */
.pokemon-screen{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border: solid 2px #000;
    border-radius: 6px;
    box-shadow: 2px -2px 5px inset #222, -2px 2px 5px inset #222;
    width: 80%;
    height: 80%;
    max-height: 80%;
    padding: 8px;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(../../../assets/pokedex-screen.jpg);
    background-size: auto 100%;
}

/* BOTÃO DE POKEMON SHINY */
.shiny-button{
    position: absolute;
    margin-top: auto;
    top: 5px;
    left: 5px;
}
.shiny-button div{
    border: none;
    height:25px;
    width: 25px;
    background: url(../../../assets/shiny-icon.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px #333) invert();
}
.shiny-button div:hover{
    filter: drop-shadow(1px 1px 1px #333) invert();
    box-shadow: 0 0 5px inset #ff0;
    border-radius: 50%;
}
/* BOTÃO DE ESCOLHER GÊNERO DO POKEMON */
.gender-button{
    position: absolute;
    margin-top: auto;
    bottom: 5px;
    right: 5px;
}
.gender-button div{
    border: none;
    height:32px;
    width: 32px;
    cursor: pointer;
}
.gender-button .female-exist{
    background-image: url(../../../assets/gender-icon.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.gender-button .female-exist:hover{
    filter: drop-shadow(0 0 3px #00f);
    box-shadow: 0 0 10px inset #00f;
    border-radius: 50%;
}

/* NOME DO POKEMON */
.name{
    height: 10%;
    width: 80%;
    max-width: 80%;
}
.name p{
    margin: auto;
    color: #fff;
    font-size: 1.6vw;
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
    filter: drop-shadow(0 0 4px #fff);
}

/* IMAGEM DO POKEMON */
.img-screen{
    height: 100%;
}
.img-screen img{
    height: 100%;
    margin: auto;
    image-rendering: pixelated;
    filter: drop-shadow(0 0 8px #fff);
}

/* DETALHES FORA DA TELA */
.top-detail{
    font-size: 10px;
    margin-bottom: 5px;
    word-spacing: 30px;
}
.bottom-detail{
    display: flex;
    width: 100%;
    font-size: 15px;
    justify-content: space-around;
}