#root,html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root{
  display: flex;
  background-color: #ddd;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* BORDAS NA PARTE DE CIMA E DE BAIXO DA TELA */
.top-border{
  height: 2%;
  width: 100%;
  background-color: #444;
  box-shadow: 0 10px #777, 0 20px #bbb;
}
.bottom-border{
  height: 2%;
  width: 100%;
  background-color: #444;
  box-shadow: 0 -10px #777, 0 -20px #bbb;
}